---
import Layout from '../layouts/basic.astro'
import {Container} from '../components/ui/theme/container.jsx'
---
<Layout>
  <Container className='mt-9 text-base text-zinc-600 dark:text-zinc-400'>
    <p>
      I Will put some of my projects on this page
    </p>
  </Container>
</Layout>
