---
import MainHead from '../../components/MainHead.astro';
import Nav from '../../components/Nav/index.jsx';
import Footer from '../../components/Footer/index.jsx';
import Counter from '../../components/Counter/index.svelte';

---

<!doctype html>
<html lang="en">
<body>
<head>
    <MainHead title="Testing this thing" description="Some nice description"/>
</head>
<Nav />
<div>
    Howdy
</div>
<Counter client:load/>
</body>
</html>